---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=dallas,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Nov 2020 19:52:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dallas,tx"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040340","unknownInput":"","type":"s","latLng":{"lat":32.777977,"lng":-96.796215},"displayLatLng":{"lat":32.777977,"lng":-96.796215},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=32.777977,-96.796215|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1484761942"}]}]}'
  recorded_at: Sun, 08 Nov 2020 19:52:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f61efbe79c4c5aba2f204d7346620036&exclude=minutely,alerts&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.78,"lon":-96.8,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1604865154,"sunrise":1604839896,"sunset":1604878227,"temp":72.59,"feels_like":69.98,"pressure":1015,"humidity":68,"dew_point":61.43,"uvi":4.29,"clouds":40,"visibility":10000,"wind_speed":11.41,"wind_deg":170,"wind_gust":20.8,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1604862000,"temp":72.59,"feels_like":70.07,"pressure":1015,"humidity":68,"dew_point":61.43,"clouds":40,"visibility":10000,"wind_speed":11.23,"wind_deg":162,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1604865600,"temp":75.15,"feels_like":72,"pressure":1015,"humidity":61,"dew_point":60.78,"clouds":33,"visibility":10000,"wind_speed":11.9,"wind_deg":158,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1604869200,"temp":76.62,"feels_like":72.97,"pressure":1014,"humidity":57,"dew_point":60.26,"clouds":25,"visibility":10000,"wind_speed":12.46,"wind_deg":154,"weather":[{"id":802,"main":"Clouds","description":"scattered
        cloud[...]
