---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=dallas,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 03:45:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dallas,tx"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040340","unknownInput":"","type":"s","latLng":{"lat":32.777977,"lng":-96.796215},"displayLatLng":{"lat":32.777977,"lng":-96.796215},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=32.777977,-96.796215|marker-sm-50318A-1&scalebar=true&zoom=12&rand=390114250"}]}]}'
  recorded_at: Mon, 09 Nov 2020 03:45:23 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,alerts&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.78,"lon":-96.8,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1604893524,"sunrise":1604839896,"sunset":1604878227,"temp":64.47,"feels_like":64.06,"pressure":1015,"humidity":82,"dew_point":58.86,"uvi":4.31,"clouds":20,"visibility":10000,"wind_speed":5.82,"wind_deg":120,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1604890800,"temp":64.47,"feels_like":62.46,"pressure":1015,"humidity":82,"dew_point":58.86,"clouds":20,"visibility":10000,"wind_speed":8.66,"wind_deg":173,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1604894400,"temp":66.9,"feels_like":65.57,"pressure":1015,"humidity":77,"dew_point":59.47,"clouds":10,"visibility":10000,"wind_speed":7.81,"wind_deg":168,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1604898000,"temp":67.71,"feels_like":66.38,"pressure":1016,"humidity":77,"dew_point":60.24,"clouds":4,"visibility":10000,"wind_speed":8.32,"wind_deg":153,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}[...]
