---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f61efbe79c4c5aba2f204d7346620036&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604814942,"sunrise":1604756162,"sunset":1604793077,"temp":57.45,"feels_like":43.21,"pressure":999,"humidity":41,"dew_point":33.96,"uvi":2.77,"clouds":20,"visibility":10000,"wind_speed":19.46,"wind_deg":180,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1604811600,"temp":57.45,"feels_like":48.43,"pressure":999,"humidity":41,"dew_point":33.96,"clouds":20,"visibility":10000,"wind_speed":10.18,"wind_deg":195,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.04},{"dt":1604815200,"temp":57.74,"feels_like":50.58,"pressure":997,"humidity":40,"dew_point":33.62,"clouds":25,"visibility":10000,"wind_speed":6.8,"wind_deg":181,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.04},{"dt":1604818800,"temp":57.61,"feels_like":50,"pressure":994,"humidity":40,"dew_point":33.49,"clouds":49,"visibility":10000,"wind_speed":7.56,"wind_deg":180,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.19},{"dt":1604822400,"temp":58.12,"feels_like":47.97,"pressure":992,"humidity":40,"dew_point":33.94,"clouds":74,"visibility":10000,"wind_speed":12.19,"wind_deg":195,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.23},{"dt":1604826000,"temp":57.51,"feels_like":43.88,"pressure":991,"humidity":43,"dew_point":35.2,"clouds":84,"visibility":10000,"wind_speed":18.72,"wind_deg":180,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.31},{"dt":1604829600,"temp":56.68,"feels_like":38.17,"pressure":991,"humidity":48,"dew_point":37.24,"clouds":86,"visibility":10000,"wind_speed":28.01,"wind_deg":197,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.39,"rain":{"1h":0.16}},{"dt":1604833200,"temp":56.77,"feels_like":39.96,"pressure":992,"humidity":39,"dew_point":32.43,"clouds":84,"visibility":10000,"wind_speed":23.51,"wind_deg":196,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.39},{"dt":1604836800,"temp":55.83,"feels_like":37.22,"pressure":994,"humidity":36,"dew_point":23.32,"clouds":86,"visibility":10000,"wind_speed":26.02,"wind_deg":207,"weather":[{"id":804,"main":"Clouds","description":"overcast
  [...]
