---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Miami,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Nov 2020 06:04:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Miami,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2086834613"}]}]}'
  recorded_at: Sun, 08 Nov 2020 06:04:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f61efbe79c4c5aba2f204d7346620036&exclude=minutely,alerts&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.78,"lon":-80.19,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1604815444,"sunrise":1604835249,"sunset":1604874900,"temp":75.2,"feels_like":75.54,"pressure":1010,"humidity":94,"dew_point":73.35,"uvi":6.07,"clouds":90,"visibility":10000,"wind_speed":16.11,"wind_deg":60,"wind_gust":27.51,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1604815200,"temp":75.2,"feels_like":68.81,"pressure":1010,"humidity":94,"dew_point":73.35,"clouds":90,"visibility":10000,"wind_speed":28.05,"wind_deg":79,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.77},{"dt":1604818800,"temp":77.34,"feels_like":70.57,"pressure":1009,"humidity":85,"dew_point":72.48,"clouds":95,"visibility":9021,"wind_speed":27.87,"wind_deg":80,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.85,"rain":{"1h":0.65}},{"dt":1604822400,"temp":78.8,"feels_like":71.74,"pressure":1008,"humidity":79,"dew_point":71.73,"clouds":98,"visibility":9636,"wind_speed":27.67,"wind_deg":80,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10n"}],"pop":0.96,"rain":{"1h":5.62}},{"dt":1604826000,"temp":79.52,"feels_like":71.65,"pressure":1008,"humidity":76,"dew_point":71.29,"clouds":99,"visibility":10000,"wind_speed":28.68,"wind_deg":79,"weather":[{"id":501,"main":"Rain","descr[...]
