---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Miami,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 03:44:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Miami,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1503316319"}]}]}'
  recorded_at: Mon, 09 Nov 2020 03:44:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,alerts&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.78,"lon":-80.19,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1604893495,"sunrise":1604835249,"sunset":1604874900,"temp":76.78,"feels_like":76.14,"pressure":1004,"humidity":94,"dew_point":74.93,"uvi":6.16,"clouds":90,"visibility":10000,"wind_speed":19.46,"wind_deg":70,"wind_gust":33.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1604890800,"temp":76.78,"feels_like":62.44,"pressure":1004,"humidity":94,"dew_point":74.93,"clouds":90,"visibility":3764,"wind_speed":43.78,"wind_deg":105,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":3.94}},{"dt":1604894400,"temp":77.5,"feels_like":66.25,"pressure":1004,"humidity":90,"dew_point":74.34,"clouds":95,"visibility":3200,"wind_speed":37.67,"wind_deg":113,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":1.54}},{"dt":1604898000,"temp":78.19,"feels_like":69.31,"pressure":1003,"humidity":86,"dew_point":73.65,"clouds":98,"visibility":4670,"wind_speed":32.75,"wind_deg":118,"weather":[{"id":501,"main":"Rain","description":"[...]
