---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Miami,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Nov 2020 02:45:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Miami,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1152193967"}]}]}'
  recorded_at: Wed, 11 Nov 2020 02:45:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,alerts&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.78,"lon":-80.19,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1605062714,"sunrise":1605008134,"sunset":1605047642,"temp":79.93,"feels_like":83.73,"pressure":1011,"humidity":88,"dew_point":76.06,"uvi":6.03,"clouds":90,"visibility":10000,"wind_speed":12.75,"wind_deg":130,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1605060000,"temp":79.93,"feels_like":78.24,"pressure":1011,"humidity":88,"dew_point":76.06,"clouds":90,"visibility":10000,"wind_speed":22.48,"wind_deg":142,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.97,"rain":{"1h":1.61}},{"dt":1605063600,"temp":80.91,"feels_like":79.47,"pressure":1011,"humidity":80,"dew_point":74.16,"clouds":93,"visibility":10000,"wind_speed":20.07,"wind_deg":137,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.75},{"dt":1605067200,"temp":81.37,"feels_like":80.33,"pressure":1012,"humidity":79,"dew_point":74.23,"clouds":96,"visibility":10000,"wind_speed":19.44,"wind_deg":136,"weather":[{"id":804,"main":"Clouds","description":"overcas[...]
