---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=Miami
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19996'
      X-Ratelimit-Reset:
      - '1607394020'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":60,"page":1,"per_page":1,"photos":[{"id":421655,"width":3872,"height":2592,"url":"https://www.pexels.com/photo/architecture-blue-bridge-buildings-421655/","photographer":"Elvis
        Vasquez","photographer_url":"https://www.pexels.com/@elvis-vasquez-136708","photographer_id":136708,"src":{"original":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg","large2x":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/421655/pexels-photo-421655.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=miami"}'
  recorded_at: Sun, 08 Nov 2020 22:42:36 GMT
recorded_with: VCR 6.0.0
