---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Miami,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 17:56:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Miami,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2053554268"}]}]}'
  recorded_at: Mon, 09 Nov 2020 17:56:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,alerts&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.78,"lon":-80.19,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1604944565,"sunrise":1604921691,"sunset":1604961270,"temp":83.32,"feels_like":83.14,"pressure":1008,"humidity":78,"dew_point":75.74,"uvi":6.16,"clouds":75,"visibility":10000,"wind_speed":19.46,"wind_deg":110,"wind_gust":29.97,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1604941200,"temp":83.32,"feels_like":80.08,"pressure":1008,"humidity":78,"dew_point":75.74,"clouds":75,"visibility":10000,"wind_speed":24.9,"wind_deg":126,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.93,"rain":{"1h":0.48}},{"dt":1604944800,"temp":83.12,"feels_like":79.45,"pressure":1008,"humidity":75,"dew_point":74.37,"clouds":76,"visibility":10000,"wind_speed":24.23,"wind_deg":121,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.73},{"dt":1604948400,"temp":83.08,"feels_like":79.39,"pressure":1008,"humidity":73,"dew_point":73.53,"clouds":66,"visibility":10000,"wind_speed":23.42,"wind_deg":114,"weather":[{"id":803,"main":"Clouds","description":"broken
  [...]
