---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Telluride,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 17:56:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Telluride,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Telluride","adminArea5Type":"City","adminArea4":"San
        Miguel County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039402","unknownInput":"","type":"s","latLng":{"lat":37.937412,"lng":-107.811757},"displayLatLng":{"lat":37.937412,"lng":-107.811757},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=37.937412,-107.811757|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1379706576"}]}]}'
  recorded_at: Mon, 09 Nov 2020 17:56:05 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,alerts&lat=37.937412&lon=-107.811757&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.94,"lon":-107.81,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604944566,"sunrise":1604929563,"sunset":1604966658,"temp":27.55,"feels_like":14.77,"pressure":1010,"humidity":53,"dew_point":14.31,"uvi":2.78,"clouds":90,"visibility":10000,"wind_speed":12.75,"wind_deg":180,"wind_gust":17.22,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1604941200,"temp":27.55,"feels_like":15.48,"pressure":1010,"humidity":53,"dew_point":14.31,"clouds":90,"visibility":5917,"wind_speed":11.52,"wind_deg":211,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.94,"snow":{"1h":0.16}},{"dt":1604944800,"temp":25.23,"feels_like":14.7,"pressure":1011,"humidity":69,"dew_point":17.47,"clouds":87,"visibility":3482,"wind_speed":9.28,"wind_deg":215,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.79},{"dt":1604948400,"temp":24.31,"feels_like":14.41,"pressure":1012,"humidity":79,"dew_point":19.38,"clouds":98,"visibility":2275,"wind_speed":8.5,"wind_deg":218,"weather":[{"id":804,"main":"Clouds","description":"overcast
    [...]
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=<HIKING_PROJECT_API_KEY>&lat=37.937412&lon=-107.811757
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 73aad8ff-395e-4116-8101-a449c31626f1
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7018781,
                    "name": "Bear Creek Falls",
                    "type": "Recommended Route",
                    "summary": "This quick route gives a true taste of Telluride and it's breathtaking landscapes.",
                    "difficulty": "blue",
                    "stars": 4.6,
                    "starVotes": 44,
                    "location": "Telluride, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7018781\/bear-creek-falls",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7048311_sqsmall_1555538955.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7048311_small_1555538955.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7048311_smallMed_1555538955.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7048311_medium_1555538955.jpg",
                    "length": 4.7,
                    "ascent": 1076,
                    "descent": -1076,
                    "high": 9888,
                    "low": 8812,
                    "longitude": -107.8119,
                    "latitude": 37.9342,
                    "conditionStatus": "All Clear",
                    "conditionDetails": "",
                    "conditionDate": "2020-10-08 23:59:12"
                },
                {
                    "id": 7003650,
                    "name": "Mt. Sneffels",
                    "type": "Recommended Route",
                    "summary": "A fun and short hike through stunning Yankee Boy Basin and up a 14er right outside Ouray.",
                    "difficulty": "black",
                    "stars": 4.6,
                    "starVotes": 30,
                    "location": "Ouray, Colorado",
                    "ur[...]
