<h1>Welcome to Sweater Weather!</h1>
<h2>Rest API for planning roadtrips</h2>

<h3>For a detailed explanation of all available endpoints and their required parameters please read the docs <%= link_to 'here', 'https://github.com/Alex-Desjardins/sweater_weather_api' %>. </h3>
